:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 9rem;

  --main-color: #f2ede9;
  --secondary-color: #001b0a;

  --font-main-color: #c2c2a3;
  --font-secondary-color: #12372a;
  --font-alternative-color: #d5bbb1;

  --button-main-color: #adac9a;

  --main-color-half: rgba(242, 237, 233, 0.5);
  --secondary-color-half: rgba(0, 27, 10, 0.5);
  --transparent: rgba(255, 255, 255, 0);
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-offset: 3px;
}

body,
button,
input,
select {
  font-family: 'Open Sans', Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

body {
  color: var(--font-main-color);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--main-color);
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-block: 0;
  margin-inline: 0;
}

h2 {
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-style: normal;

  text-transform: uppercase;
  font-size: 3.2rem;
  word-spacing: 5px;
  letter-spacing: 2px;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3px;
}

h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.section {
  padding-top: 15rem;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px rgb(164, 164, 164); /* FIXME */
  transition: 0.2s all linear;

  outline: none;
  cursor: pointer;
}

input[type='radio']:checked {
  box-shadow: inset 0 0 0 6px #495057; /* FIXME */
  transform: scale(1.07);
}

input[type='checkbox'] {
  accent-color: #495057; /* FIXME */
  outline: none;
  cursor: pointer;
  transition: 0.2s all linear;
}

input[type='checkbox']:checked {
  transform: scale(1.07);
}

/* chromium and safari */
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* HEADER-HERO */

.header-wrapper.hero-wrapper {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    url('../assets/hero-img.jpg');
  background-size: cover;

  background-position: 0 25%;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 4rem;
  font-size: 1.6rem;
  background-color: var(--main-color);
}

header > * {
  flex: 0.5;
}

header > nav {
  flex: 1;
  justify-content: space-between;
}

.header-wrapper.hero-wrapper header {
  background-color: var(--transparent);
}

header a:first-child {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  color: var(--font-secondary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.header-wrapper.hero-wrapper header a:link,
.header-wrapper.hero-wrapper header a:visited,
.header-wrapper.hero-wrapper header a:hover,
.header-wrapper.hero-wrapper header a:active {
  color: var(--main-color);
}

/* header a:focus {
  outline: var(--main-color-half) solid 2px;
} */

header > div {
  display: flex;
  align-items: center;
}

.reservation-link {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
  padding: 1rem 2rem;
  margin-left: auto;
  font-weight: 600;
  border: 1px solid var(--secondary-color);
  transition: all 200ms ease-in-out;
  /* border-radius: 5px; */
}

.reservation-link:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.header-wrapper.hero-wrapper .reservation-link {
  background-color: var(--secondary-color);
  border-radius: 0;
}

.header-wrapper.hero-wrapper .reservation-link:hover {
  background-color: var(--transparent);
  border: 1px solid var(--main-color);
}

.nav-signature {
  font-size: 2rem;
  text-transform: capitalize !important;
  font-size: 4rem;

  font-family: 'WindSong', cursive;
  font-weight: 800;
  font-style: normal;
  color: var(--font-secondary-color);
  user-select: none;
  -webkit-user-select: none;
}

.header-wrapper.hero-wrapper .nav-signature {
  color: var(--main-color);
}

header button {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  cursor: pointer;
}

header svg {
  color: var(--font-secondary-color);
}

.header-wrapper.hero-wrapper header svg {
  color: var(--main-color);
}

/* FOOTER */
.footer {
  background-color: var(--secondary-color);
  padding: 6rem 6rem 2rem 6rem;
  border-top: 1px solid var(--font-main-color);
  position: relative;
  z-index: 100;
}

.footer *:focus,
.footer *:focus-visible {
  outline: 1px solid rgba(194, 194, 163, 0.7);
}

.footer-container {
  margin: 0 auto;
}

.footer-logo {
  height: 5rem;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  font-size: 2rem;
  text-transform: capitalize !important;
  font-size: 4rem;
  font-family: 'WindSong', cursive;
  font-weight: 400;
  font-style: normal;
}

.socials-col {
  text-align: center;
}

.social-icons {
  margin-top: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icons > a {
  transition: all 0.5s;
  text-decoration: none;
  color: rgba(194, 194, 163, 0.7);
}

.social-icons > a:visited {
  color: rgba(194, 194, 163, 0.7);
}

.social-icons > a:hover,
.social-icons > a:active {
  color: var(--font-main-color);
}

.social-icon {
  cursor: pointer;
}

.copy {
  font-size: 1.4rem;
  color: rgba(194, 194, 163, 0.8);
  line-height: 1.6;
  margin-top: 2rem;
  width: 100%;
}

.copy > a {
  color: rgba(194, 194, 163, 0.8);
}

.copy > a:visited,
.copy > a:active,
.copy > a:hover {
  color: var(--font-main-color);
}
