:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 9rem;
  --footer-height: 24rem;

  --main-color: #f2ede9;
  --secondary-color: #001b0a;

  --font-main-color: #c2c2a3;
  --font-secondary-color: #12372a;
  --font-alternative-color: #bfa499;

  --button-main-color: #adac9a;

  --main-color-half: rgba(242, 237, 233, 0.5);
  --secondary-color-half: rgba(0, 27, 10, 0.5);
  --transparent: rgba(255, 255, 255, 0);
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-offset: 3px;
}

body,
button,
input,
select {
  font-family: 'Open Sans', Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

body {
  color: var(--font-main-color);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--main-color);
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-block: 0;
  margin-inline: 0;
}

h2 {
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-style: normal;

  text-transform: uppercase;
  font-size: 3.2rem;
  word-spacing: 5px;
  letter-spacing: 2px;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.section {
  padding-top: 15rem;
}

/* HEADER-HERO */

.header-wrapper.hero-wrapper {
  /* fallback */
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    #ebeaef;

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    url('../assets/hero-img.webp');
  background-size: cover;
  background-position: center;

  position: relative;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 4rem;
  font-size: 1.6rem;
  background-color: var(--main-color);

  /* rules for sticky nav */
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 180ms linear, background-color 150ms linear,
    box-shadow 100ms linear;

  z-index: 120;
}

header > * {
  flex: 0.5;
}

header > nav {
  flex: 1;
  justify-content: space-between;
}

.header-wrapper.hero-wrapper header {
  background-color: var(--transparent);
}

header > div:first-child a,
.util-links-container > div:first-child a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.header-wrapper a:link,
.header-wrapper a:visited,
.header-wrapper a:hover,
.header-wrapper a:active {
  color: var(--font-secondary-color);
  text-decoration: none;
  text-transform: uppercase;
}

header a:link:not(.reservation-link) {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 180ms ease-in-out;
}

header a:link:hover {
  border-color: rgba(18, 55, 42, 0.5);
}

header a:link.active {
  border-color: var(--font-secondary-color);
}

.header-wrapper.hero-wrapper a:link,
.header-wrapper.hero-wrapper a:visited,
.header-wrapper.hero-wrapper a:hover,
.header-wrapper.hero-wrapper a:active {
  color: var(--main-color);
}

.header-wrapper.hero-wrapper header a:link:hover {
  border-color: rgba(242, 237, 233, 0.8);
}

.header-wrapper.hero-wrapper header a:link.active {
  border-color: var(--main-color);
}

header > div {
  display: flex;
  align-items: center;
}

.header-wrapper .reservation-link:link,
.header-wrapper .reservation-link:visited {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
  padding: 1rem 2rem;
  margin-left: auto;
  font-weight: 600;
  border: 1px solid var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.header-wrapper .reservation-link:hover,
.header-wrapper .reservation-link:active {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.header-wrapper.hero-wrapper .reservation-link:link,
.header-wrapper.hero-wrapper .reservation-link:visited {
  background-color: var(--secondary-color);
  border-radius: 0;
}

.header-wrapper.hero-wrapper .reservation-link:hover,
.header-wrapper.hero-wrapper .reservation-link:active {
  background-color: var(--transparent);
  border: 1px solid var(--main-color);
}

.nav-signature {
  font-size: 2rem;
  text-transform: capitalize !important;
  font-size: 4rem;
  width: max-content;

  font-family: 'WindSong', cursive;
  font-weight: 800;
  font-style: normal;
  color: var(--font-secondary-color);
  user-select: none;
  -webkit-user-select: none;
}

.header-wrapper.hero-wrapper .nav-signature {
  color: var(--main-color);
}

header button {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  cursor: pointer;
}

header svg {
  color: var(--secondary-color);
}

.header-wrapper.hero-wrapper header svg {
  color: var(--main-color);
}

header.navbar-hidden {
  top: -9rem;
}

header.navbar-scrolled,
.header-wrapper.hero-wrapper header.navbar-scrolled,
.header-wrapper header.navbar-scrolled .reservation-link:link,
.header-wrapper header.navbar-scrolled .reservation-link:visited {
  background-color: var(--secondary-color);
}

header.navbar-scrolled .mobile-header > p,
.header-wrapper.hero-wrapper header.navbar-scrolled .mobile-header > p,
.header-wrapper.hero-wrapper header.navbar-scrolled .reservation-link,
.header-wrapper header.navbar-scrolled .reservation-link:link,
.header-wrapper header.navbar-scrolled .reservation-link:visited {
  color: var(--font-main-color);
  border-color: var(--font-main-color);
}

.header-wrapper.hero-wrapper header.navbar-scrolled .nav-signature,
header.navbar-scrolled .nav-signature,
.header-wrapper header.navbar-scrolled a:visited,
header.navbar-scrolled a:link:not(.reservation-link),
.header-wrapper.hero-wrapper header.navbar-scrolled svg,
header.navbar-scrolled svg {
  color: var(--font-main-color);
}

.header-wrapper.hero-wrapper header.navbar-scrolled a:link.active:hover {
  border-color: var(--font-main-color);
}

.header-wrapper.hero-wrapper header.navbar-scrolled a:link:hover,
header.navbar-scrolled a:link:not(.reservation-link):hover {
  border-color: rgba(194, 194, 163, 0.5);
}

.header-wrapper.hero-wrapper header.navbar-scrolled .reservation-link:hover,
.header-wrapper header.navbar-scrolled .reservation-link:hover {
  border-color: inherit;
  background-color: var(--font-main-color);
  color: var(--secondary-color);
}

header.navbar-shadow {
  box-shadow: 0 0.5px 0 0 var(--font-main-color);
}

.mobile-header {
  display: none;
  position: relative;
}

.util-links-container {
  display: none;
  position: absolute;
  left: 0;
  bottom: 4rem;
  width: 100%;
}

/* FOOTER */
.footer {
  height: var(--footer-height);
  background-color: var(--secondary-color);
  padding: 6rem 6rem 2rem 6rem;
  border-top: 1px solid var(--font-main-color);
  position: relative;
  z-index: 100;
}

.footer *:focus,
.footer *:focus-visible {
  outline: 1px solid rgba(194, 194, 163, 0.7);
}

.footer-container {
  margin: 0 auto;
}

.footer-logo {
  height: 5rem;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  font-size: 2rem;
  text-transform: capitalize !important;
  font-size: 4rem;
  font-family: 'WindSong', cursive;
  font-weight: 400;
  font-style: normal;
}

.socials-col {
  text-align: center;
}

.social-icons {
  margin-top: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icons > a {
  transition: all 0.5s;
  text-decoration: none;
  color: rgba(194, 194, 163, 0.7);
}

.social-icons > a:visited {
  color: rgba(194, 194, 163, 0.7);
}

.social-icons > a:hover,
.social-icons > a:active {
  color: var(--font-main-color);
}

.social-icon {
  cursor: pointer;
}

.copy {
  font-size: 1.4rem;
  color: rgba(194, 194, 163, 0.8);
  line-height: 1.6;
  margin-top: 2rem;
  width: 100%;
}

.copy > a {
  color: rgba(194, 194, 163, 0.8);
}

.copy > a:visited,
.copy > a:active,
.copy > a:hover {
  color: var(--font-main-color);
}

input[type='file'] {
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  border-radius: 2px;
  cursor: pointer;
}

::file-selector-button {
  cursor: pointer;
  color: var(--font-secondary-color);
  border: 0;
  border-radius: 5px;
  padding: 1rem 3rem;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px rgb(164, 164, 164);
  transition: 0.2s all linear;

  outline: none;
  cursor: pointer;
}

input[type='radio']:checked {
  box-shadow: inset 0 0 0 6px #495057;
  transform: scale(1.07);
}

input[type='checkbox'] {
  accent-color: #495057;
  outline: none;
  cursor: pointer;
  transition: 0.2s all linear;
}

input[type='checkbox']:checked {
  transform: scale(1.07);
}

/* chromium and safari */
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* MODAL */

dialog {
  top: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  width: 70vw;
  height: 70vh;
  background-color: #f1f3f5;
  border-radius: 3px;
  color: #343a40;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
  padding: 2rem 4rem;
  border: 0;
  z-index: 500;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 25%);
  backdrop-filter: blur(5px);
}

dialog .modal-close {
  border: 0;
  background-color: #f1f3f5;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.2rem;
  margin-inline-end: 1.5rem;
  margin-block-start: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

/* dialog {
  animation: fade-out 200ms ease-out;
} */

dialog[open] {
  animation: fade-in 200ms ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 200ms ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20%);
    display: none;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

dialog input:not([type='file']),
dialog input[type='file'],
dialog textarea,
dialog select,
dialog form button {
  color: var(--font-secondary-color);
  width: 100%;
  padding: 0.8rem;
  background-color: inherit;
  border: 2px solid #ccc;
  font-weight: 500;
  border-radius: 2px;
  font-size: 1.6rem;
  font-family: 'Open Sans', Inter, sans-serif;
}

dialog input[type='file'] {
  color: #777;
  font-weight: 400;
}

dialog input[type='file']::file-selector-button {
  padding: 1rem 3rem 1rem 0;
  font-size: 1.6rem;
  border-right: 1.5px solid #ccc;
  border-radius: 0;
  margin-right: 2rem;
}

dialog button:focus,
dialog button:focus-visible,
dialog input:focus,
dialog input:focus-visible,
dialog textarea:focus,
dialog textarea:focus-visible,
dialog select:focus,
dialog select:focus-visible {
  outline: 2px solid var(--secondary-color-half);
}

dialog input::placeholder,
dialog textarea::placeholder {
  color: #bbb !important;
  font-weight: 400;
}

.option-placeholder {
  color: #777 !important;
}

/* OBSERVATION NOTES ACROSS WEBSITE */

.note {
  font-size: 1.3rem;
  font-weight: 600;
}

/* SPINNER */

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ellipsis {
  /* change color here */
  color: var(--secondary-color);
}
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.modal-spinner {
  height: 100%;
}

/* ERROR COMPONENT */

.error-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.error-message {
  color: #402400;
  font-weight: 600;
  margin-top: 1rem;
}

.warning-message {
  font-size: 1.4rem;
  color: #402400;
}

/* MISCELLANIOUS */

.filtered-options-ul {
  border: 1px solid #ccc;
  margin-top: 1px;
  list-style: none;
  max-height: 120px;
  overflow-y: scroll;
}

.filtered-options-ul li {
  cursor: pointer;
  padding: 5px;
  transition: all 150ms ease-in-out;
}

.filtered-options-ul li:hover {
  background-color: #ddd;
}

.update-detected input,
.update-detected textarea,
.update-detected select,
.update-detected input[type='file']::file-selector-button {
  background-color: #d3f9d8 !important;
}

.blurred-transition {
  transition: all 150ms ease-in-out;
}

.blurred {
  filter: blur(5px);
}
