.bookings-container {
  background-color: var(--main-color);
  padding: 10rem 0;
}

.bookings-container *:focus {
  outline-offset: -3px;
}

.bookings-container button {
  color: var(--font-secondary-color);
  background-color: var(--main-color);
}

.bookings-ctrl_btns {
  display: flex;
  max-width: 50rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3rem;
}

.bookings-ctrl_btns .bookings-btn {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  border: none;

  font-size: 2rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.bookings-ctrl_btns .bookings-btn.hidden {
  opacity: 0 !important;
}

.bookings-ctrl_btns .bookings-btn:disabled {
  cursor: auto;
}

.bookings-ctrl_btns .bookings-btn.bookings-back_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--font-secondary-color);
  border: 1.5px solid var(--font-secondary-color);
}

.bookings-ctrl_btns .bookings-btn.bookings-back_btn:hover,
.bookings-ctrl_btns .bookings-btn.bookings-back_btn:focus-visible {
  font-size: 2.5rem;
}

.bookings-ctrl_btns .bookings-btn.bookings-back_btn:disabled:hover {
  font-size: 2rem;
}

.bookings-ctrl_btns .bookings-btn.complete-booking {
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  background-color: var(--main-color);
  color: var(--font-secondary-color);
  border: 1.5px solid var(--font-secondary-color);
  border-radius: 2px;
}

.bookings-ctrl_btns .bookings-btn.complete-booking:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.bookings-info {
  min-height: 5.4rem;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  color: var(--font-secondary-color);
  font-weight: 700;
  font-size: 1.8rem;
}

.bookings-info > p:not(:first-child) {
  display: inline;
}

.bookings-slider {
  width: 60%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.bookings-slider > div {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  transition: transform 350ms ease-in-out;
  /* transform: translateX(calc(var(--slider-index) * -100%)); */
}

/* COMMON STYLES */

.zones-container > div,
.calendar-container > div {
  max-width: 50rem;
  margin: 0 auto;
}

/* CALENDAR */
.calendar-container {
  width: 100%;
  padding: 1rem;
  border-radius: 2px;
  color: var(--font-secondary-color);
  background-color: var(--main-color);
}

.calendar-container > p {
  font-weight: bold;
  font-size: 2rem;
  padding-block-start: 1rem;
  text-transform: uppercase;
  text-align: center;
}

/* ~~~ navigation styles ~~~ */
.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  .react-calendar__navigation__label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 0;
  }

  .react-calendar__navigation__arrow {
    flex-grow: 0.333;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      opacity: 0.5;
    }
  }
}

/* ~~~ label styles ~~~ */
.react-calendar__month-view__weekdays {
  text-align: center;
  padding: 2rem 0;
  font-weight: 700;
}

/* ~~~ days label styles ~~~ */
abbr[title] {
  text-decoration: none;
  text-transform: uppercase;
}

/* ~~~ button styles ~~~ */
.calendar-container button {
  margin: 3px;
  border: 0;
  border-radius: 2px;
  padding: 5px 0;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--font-secondary-color);
  }

  /* &:active {
    background-color: #a5c1a5;
  } */

  &:not(:disabled) {
    cursor: pointer;
  }
}

/* ~~~ day grid styles ~~~ */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;

  .react-calendar__tile {
    max-width: initial !important;
    margin: 0;
    padding: 0.5rem;
  }
}

.react-calendar__month-view__days__day {
  aspect-ratio: 1/1;
  font-size: 1.8rem;
  font-weight: bold;
}

/* ~~~ neighboring month & weekend styles ~~~ */
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.7;
}

.react-calendar__month-view__days__day--weekend {
  /* color: #12372a; */
}

/* ~~~ disabled tiles styles ~~~ */
.react-calendar__month-view__days__day:disabled {
  opacity: 0.2;
}

/* ~~~ current day styles ~~~ */
.react-calendar__tile--now {
  background-color: rgba(18, 55, 42, 0.1) !important;
}

/* .react-calendar__tile--now > abbr {
  color: #556b55;
} */

/* ~~~ active day styles ~~~ */
.react-calendar__tile--range {
  background-color: var(--secondary-color) !important;
  color: var(--font-main-color) !important;
  /* border: 3px solid #12372a !important; */
}

/* ~~~ other view styles ~~~ */
.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 20% 20% 20% 20% 20%;
  row-gap: 2rem;
  margin-top: 2rem;

  &.react-calendar__year-view__months {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .react-calendar__tile {
    max-width: initial !important;
  }
}

.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year,
.react-calendar__century-view__decades__decade {
  text-transform: uppercase;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
  }
}

.react-calendar__decade-view__years__year {
  font-size: 1.8rem !important;
}

/* BOOKING ZONES */

.zones-container:focus {
  outline: none !important;
}

.zones-container {
  flex-grow: 1;

  padding: 1rem;
  background-color: var(--main-color);

  .zones-grid {
    display: grid;
    row-gap: 1rem;
    place-items: center;
  }

  button {
    width: 100%;
    height: 100%;
    background-color: #12372a;
    border: 0;
    color: var(--calendar-main-color);
    font-size: 1.6rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;

    /* &:focus p {
      outline: 3px solid red;
    } */

    img {
      aspect-ratio: 30/9;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .zone-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.7);
      transition: all 200ms ease-in-out;
      z-index: 2;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      p {
        padding: 1rem 2rem;
        background-color: transparent;
      }
    }
  }

  /* button.zone-selected {
    .zone-content {
      color: var(--font-main-color);
      background-color: rgb(194 194 163 / 49%);
      box-shadow: inset 0 0 0 5px #2e2e28;

      p {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  } */
}

/* TIMES */

.times-container {
  padding: 1rem;
  background-color: var(--main-color);
}

.times-container > div {
  max-width: 50rem;
  margin: 0 auto;
}

.times-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: min-content;
  align-content: center;
  gap: 2rem;
  height: 100%;
}

.time {
  font-weight: bold;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
}

.time:hover {
  box-shadow: inset 0 0 0 2px var(--font-secondary-color);
}

.time:disabled {
  opacity: 0.4;
  cursor: auto;
}

.time.time-selected {
  background-color: var(--font-secondary-color);
  color: var(--font-main-color);
}

/* FORM */

.form-container {
  padding: 1rem;
}

.form-container *:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 0.2rem;
}

.form-container > div {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-container label {
  display: block;
  color: var(--secondary-color-half);
  /* font-size: 1.4rem; */
}

.form-container input,
.form-container select {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  border: 2px solid var(--font-main-color);
  background-color: var(--main-color);
  border-radius: 2px;
  font-size: 1.6rem;
  color: var(--font-secondary-color);
}

.form-container input {
  padding: 2rem 0.8rem;
}

.form-container select {
  height: 4.4rem;
  padding-inline-start: 0.8rem;
}
