.dashboard-container,
.dashboard-container button {
  color: var(--font-secondary-color);
}

.dashboard-container {
  --dashboard-margin: 2rem;
  margin: var(--dashboard-margin);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.dashboard-sidebar {
  height: calc(100vh - var(--header-height) - (var(--dashboard-margin) * 2));
  padding: 3rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-sidebar > a:link,
.dashboard-sidebar > a:visited {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  border-radius: 3px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}

.dashboard-sidebar > a:hover,
.dashboard-sidebar > a:active {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
}

.dashboard-sidebar > a:link.active,
.dashboard-sidebar > a:visited.active {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
}

.dashboard-header,
.dashboard-main {
  padding: 1rem;
  margin-left: 2rem;
  position: relative;
  /* border-radius: 8px; */
}

.dashboard-header {
  /* border-bottom: 2px solid rgba(0, 27, 10, 0.2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-logout_btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  background-color: var(--main-color);
  font-size: 1.6rem;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 2rem;
  transition: all 150ms ease-in-out;
  border-radius: 2px;
}

.dashboard-logout_btn:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.dashboard-logout_btn > span {
  letter-spacing: 0;
}

.dashboard-logout_btn > svg {
  font-size: 2rem;
  /* color: var(--secondary-color); */
}

.dashboard-main {
  height: calc(100vh - var(--header-height) - (var(--dashboard-margin) * 2));
}

.dashboard-main label {
  display: block;
}

/* DASHBOARD MESSAGE */

.dashboard-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* DASHBOARD BOOKINGS */

.dashboard-bookings > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
  gap: 2rem;
}

.booking-card {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 1rem;
}

.booking-card > a {
  display: block;
}

.booking-card > a:link,
.booking-card > a:visited,
.booking-card > a:hover,
.booking-card > a:active {
  color: var(--font-secondary-color);
}

/* DASHBOARD MENU */

.dashboard-menu-spinner {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-menu-bar {
  display: flex;
  align-items: center;
}

.dashboard-menu-bar.category-bar {
  display: flex;
  gap: 1rem;
}

.dashboard-menu-bar a:link,
.dashboard-menu-bar a:visited {
  text-decoration: none;
  color: inherit;
}

.dashboard-menu-bar a:link h3 {
  border-bottom: 2px solid transparent;
  transition: border-color 200ms ease-in-out;
}

.dashboard-menu-bar a:hover h3 {
  border-color: rgba(0, 27, 10, 0.2);
}

.dashboard-menu-bar h3 {
  margin-right: auto;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 27, 10, 0.2);
}

.dashboard-menu-bar svg {
  stroke-width: 10 !important;
}

.dashboard-btn {
  padding: 1rem 2rem;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  background-color: var(--main-color);
  font-size: 1.6rem;
  border-radius: 3px;
  transition: all 180ms ease-in-out;
}

.dashboard-btn.warning {
  color: #c92a2a;
  border-color: #c92a2a;
}

.dashboard-btn.warning:hover {
  color: #fff;
  background-color: #c92a2a;
}

/* IMPORTANT */

.dashboard-btn:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.dashboard-btn.left-margin {
  margin-left: 2rem;
}

.dashboard-menu-note {
  margin-top: 1rem;
}

.dashboard-menu-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.dashboard-menu-card {
  border: 1px solid var(--secondary-color-half);
  border-radius: 3px;
  padding: 1rem 2rem;
  min-width: 18rem;
}

.menu-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-card-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.menu-card-options {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.dashboard-menu-see-items:link,
.dashboard-menu-see-items:visited {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  border: 0;
  background-color: var(--main-color);
  cursor: pointer;
  border-bottom: 2px solid var(--main-color);
  transition: all 200ms ease-in-out;
}

.dashboard-menu-see-items:hover {
  border-bottom: 2px solid var(--secondary-color-half);
}

.dashboard-menu-see-items:focus-visible {
  outline: 2px solid var(--secondary-color-half);
}

.menu-card-options > div:last-child {
  display: flex;
  transform: translateX(1rem);
  gap: 0.8rem;
  margin-left: auto;
}

.dashboard-menu-see-options {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  width: 3.5rem;
  height: 3.5rem;
  border: 0;
  border: 2px solid var(--main-color);
  transition: all 200ms ease-in-out;
}

.dashboard-menu-see-options:hover {
  border: 2px solid var(--secondary-color-half);
}

.dashboard-menu-see-options:focus-visible {
  outline: 2px solid var(--secondary-color-half);
}

.menu-card-options svg {
  font-size: 2rem;
}

/* MODALS */

.dashboard-container dialog {
  padding: 4rem;
}

.dashboard-main dialog form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboard-main dialog form button:last-child {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  font-size: 1.6rem;
  border: 2px solid var(--secondary-color);
  padding: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 200ms ease-in-out;
  margin-top: 1.5rem;
}

.dashboard-main dialog form button:last-child:hover {
  background-color: inherit;
  color: var(--font-secondary-color);
}

.dashboard-main dialog h3 span {
  font-weight: 600;
  font-size: 2rem;
}

#modal-add-category {
  width: 30%;
  height: 70%;
  max-height: 60rem;
  transition: height 200ms ease-in-out;
}

dialog label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.category-completed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-completed-container > h3 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.category-completed-action-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.category-completed-action-btns button {
  background-color: inherit;
  flex-grow: 1;
}

.category-completed-action-btns button:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.menu-error-message {
  color: #402400;
  font-weight: 600;
  margin-top: 1rem;
}

#modal-category-options,
#modal-item-options {
  width: 30%;
  height: 70%;
}

#modal-category-options h5,
#modal-item-options h5 {
  font-size: 1.6rem;
  font-weight: 600;
}

.dashboard-menu-options-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.dashboard-menu-option-group {
  width: 100%;
  padding-bottom: 1rem;
}

.dashboard-menu-option-group > label:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-menu-option-group > div:last-child {
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.dashboard-menu-option-group span {
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  background-color: inherit;
  border-radius: 2px;
}

.dashboard-menu-option-group svg {
  font-size: 2rem;
  color: var(--secondary-color-half);
}

.dashboard-menu-option-group:last-child {
  margin-bottom: 3rem;
}

.dashboard-action-btns-container {
  display: flex;
  gap: 2rem;
  /* margin-top: auto; */
  padding-bottom: 3rem;
}

.dashboard-action-btns-container button {
  flex-grow: 1;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dashboard-action-btns-container button svg {
  font-size: 2rem;
}

#modal-delete-category,
#modal-delete-item {
  width: 30%;
  height: 70%;
}

#modal-delete-category > div:not(.modal-spinner),
#modal-delete-item > div:not(.modal-spinner) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#modal-delete-category > div span,
#modal-delete-item > div span {
  font-weight: 600;
}

#modal-delete-category .dashboard-action-btns-container,
#modal-delete-item .dashboard-action-btns-container {
  padding-bottom: 0;
}

#modal-add-item {
  width: 30%;
  height: 70%;
}

#modal-add-item h3 {
  /* font-size: 1.2rem; */
  /* font-weight: 600; */
}
