.dashboard-container,
.dashboard-container button {
  color: var(--font-secondary-color);
}

.dashboard-container {
  --dashboard-margin: 2rem;
  margin: var(--dashboard-margin);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto 1fr;
}

.dashboard-sidebar {
  grid-row: 1 / 3;
  height: calc(100vh - var(--header-height) - (var(--dashboard-margin) * 2));
  padding: 3rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-sidebar > a:link,
.dashboard-sidebar > a:visited {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  border-radius: 3px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}

.dashboard-sidebar > a:hover,
.dashboard-sidebar > a:active {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
}

.dashboard-sidebar > a:link.active,
.dashboard-sidebar > a:visited.active {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
}

.dashboard-header,
.dashboard-main {
  padding: 1rem;
  margin-left: 2rem;
  /* border-radius: 8px; */
}

.dashboard-header {
  /* border-bottom: 2px solid rgba(0, 27, 10, 0.2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-logout_btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  background-color: var(--main-color);
  font-size: 1.6rem;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 2rem;
  transition: all 150ms ease-in-out;
  border-radius: 2px;
}

.dashboard-logout_btn:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.dashboard-logout_btn > span {
  letter-spacing: 0;
}

.dashboard-logout_btn > svg {
  font-size: 2rem;
  /* color: var(--secondary-color); */
}

.dashboard-main {
  margin-top: 2rem;
}

/* DASHBOARD MESSAGE */

.dashboard-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* DASHBOARD BOOKINGS */

.dashboard-bookings > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
  gap: 2rem;
}

.booking-card {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 1rem;
}

.booking-card > a {
  display: block;
}

.booking-card > a:link,
.booking-card > a:visited,
.booking-card > a:hover,
.booking-card > a:active {
  color: var(--font-secondary-color);
  /* text-decoration: none; */
}

/* DASHBOARD MENU */

.dashboard-menu-bar {
  display: flex;
  align-items: center;
}

.dashboard-menu-bar > h3 {
  margin-right: auto;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 27, 10, 0.2);
}

.dashboard-menu label {
  display: block;
}

.dashboard-btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  background-color: var(--main-color);
  font-size: 1.6rem;
  border-radius: 3px;
  transition: all 150ms ease-in-out;
}

.dashboard-btn:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.dashboard-btn.left-margin {
  margin-left: 2rem;
}

.dashboard-menu-note {
  margin-top: 1rem;
}

.dashboard-menu-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.dashboard-menu-category-card {
  border: 1px solid var(--secondary-color-half);
  border-radius: 3px;
  padding: 1rem 2rem;
  min-width: 18rem;
}

.category-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-card-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.category-card-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}

.dashboard-menu-see-items {
  font-size: 1.4rem;
  border: 0;
  background-color: var(--main-color);
  cursor: pointer;
  border-bottom: 2px solid var(--main-color);
  transition: all 200ms ease-in-out;
}

.dashboard-menu-see-items:hover {
  border-bottom: 2px solid var(--secondary-color-half);
}

.dashboard-menu-see-items:focus-visible {
  outline: 2px solid var(--secondary-color-half);
}

.dashboard-menu-see-options {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  border: 0;
  border: 2px solid var(--main-color);
  transition: all 200ms ease-in-out;
  transform: translateX(1rem);
}

.dashboard-menu-see-options:hover {
  border: 2px solid var(--secondary-color-half);
}

.dashboard-menu-see-options:focus-visible {
  outline: 2px solid var(--secondary-color-half);
}

.category-card-options svg {
  font-size: 1.6rem;
}

/* MODALS */

.dashboard-container dialog {
  padding: 4rem;
}

#modal-add-category {
  width: 30%;
  height: 70%;
  max-height: 65rem;
  transition: height 200ms ease-in-out;
}

#modal-add-category h3 {
  font-weight: 600;
}

#modal-add-category form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

dialog label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#modal-add-category form button:last-child {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  font-size: 1.6rem;
  border: 2px solid var(--secondary-color);
  padding: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 200ms ease-in-out;
  margin-top: 1.5rem;
}

#modal-add-category form button:last-child:hover {
  background-color: inherit;
  color: var(--font-secondary-color);
}

.category-completed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-completed-container > h3 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.category-completed-action-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.category-completed-action-btns button {
  padding: 1rem 2.5rem;
  background-color: inherit;
  border: 1.5px solid var(--secondary-color);
  border-radius: 3px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  flex-grow: 1;
}

.category-completed-action-btns button:hover {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
}

.add-category-error-message {
  color: #402400;
  font-weight: 600;
}

#modal-options {
  width: 30%;
  height: 70%;
}

#modal-options > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#modal-options h5 {
  font-size: 1.6rem;
  font-weight: 600;
}

.dashboard-category-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.dashboard-category-option-group {
  width: 100%;
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
  padding-bottom: 1rem;
}

.dashboard-category-option-group > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-category-option-group:last-child {
  margin-bottom: 3rem;
}

.dashboard-category-option-group p {
  /* width: 80%; */
}

.dashboard-category-option-group button {
  border: 0;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  background-color: inherit;
}

.dashboard-category-option-group svg {
  font-size: 2rem;
}

.dashboard-category-option-group > div:last-child {
  display: grid;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease-in-out;
}

.dashboard-category-option-group > div:last-child > div {
  /* overflow: hidden; */
}

.dashboard-category-option-group input {
  /* padding: 0.5rem;
  width: 100%; */
}

.dashboard-category-options-btns-container {
  display: flex;
  gap: 2rem;
  margin-top: auto;
  padding-bottom: 3rem;
}

.dashboard-category-options-btns-container button {
  flex-grow: 1;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 0;
}

.dashboard-category-options-btns-container button svg {
  font-size: 2rem;
}
