:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #fbfada;
}

/* HEADER-HERO */

.header-hero__wrapper {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url('../assets/hero-img.jpg');
  background-size: cover;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 4rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.4rem;
}

header a:first-child {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  color: white;
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}

.reservation-link {
  background-color: rgb(148, 132, 113);
  padding: 1rem 2rem;
}

.nav-signature {
  font-size: 2rem;
}

/* HERO */

.section-hero {
  height: calc(100dvh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}

.section-hero h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

/* FEATURED SECTION */

.section-featured {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #12372a;
  color: #fbfada;
}

/* HOME NEWS SECTION */

.section-home-news {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #12372a;
  color: #fbfada;
}

/* MENU SECTION */

.section-menu > h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 4rem 0;
}

.menu-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 3rem 25rem;
}

.menu-grid > div {
  /* height: 25rem; */
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
  background-color: #a5a48a;
  padding: 2rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/* FAQ */

.section-faq {
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #12372a;
  color: #fbfada;
}

/* BEHIND THE SCENES */

.section-behind-scenes {
  background-color: #12372a;
}

.section-behind-scenes > h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 4rem 0;
}

.behind-scenes_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 10rem;
}

.behind-scenes_grid > div {
  aspect-ratio: 1/0.5;
  /* height: 20rem; */
  background-color: #a5a48a;
}

/* CONTACT */

.section-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  place-items: center;
}

.section-contact > div {
  /* background-color: aquamarine; */
}

/* FOOTER */

footer {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  border-top: 1px solid #12372a;
}
