/* HERO */

.section-hero {
  height: calc(100dvh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fbfada;
}

.section-hero h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

/* FEATURED SECTION */

.section-featured {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #12372a;
  color: #fbfada;
}

/* HOME NEWS SECTION */

.section-home-news {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #12372a;
  color: #fbfada;
}

/* MENU SECTION */

.section-signatures > h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 4rem 0;
}

.signatures-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 3rem 25rem;
}

.signatures-grid > div {
  /* height: 25rem; */
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
  background-color: #a5a48a;
  padding: 2rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/* FAQ */

.section-faq {
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #12372a;
  color: #fbfada;
}

/* BEHIND THE SCENES */

.section-behind-scenes {
  background-color: #12372a;
}

.section-behind-scenes > h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 4rem 0;
}

.behind-scenes_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 10rem;
}

.behind-scenes_grid > div {
  aspect-ratio: 1/0.5;
  /* height: 20rem; */
  background-color: #a5a48a;
}

/* CONTACT */

.section-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  place-items: center;
}

.section-contact > div {
  /* background-color: aquamarine; */
}
