.section-menu {
  padding: 6rem 14rem;
}

.menu-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(7, 1fr);
}

.menu-category {
  display: grid;
  /* border: 4px solid hotpink; */
  position: relative;
  grid-column: span 2;
  text-decoration: none;
  overflow: hidden;
  /* aspect-ratio: 1/1; */
  border-radius: 2px;
}

.menu-category::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.menu-category:hover.menu-category::before {
  background-color: rgba(0, 0, 0, 0.35);
}

.category-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  color: #fbfada;
}

.category-content > h3 {
  text-transform: uppercase;
}

.menu-category > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.menu-category:first-child {
  grid-row: span 2;
  grid-column: span 3;
}

.menu-category:last-child {
  grid-column: span 3;
}

.menu-category img {
  width: 100%;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.menu-category:hover.menu-category img {
  transform: scale(1.05);
}

.menu-category:first-child img {
  aspect-ratio: 1/1.085;
}

.menu-category:last-child img {
  aspect-ratio: 1/0.525;
}

/* MENU ITEMS */

.section-menu-items {
  padding: 6rem 14rem;
}

.menu-items-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.5rem;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.menu-item {
  border: none;
  /* background-color: #fbfada; */
  cursor: pointer;
}

.menu-item img {
  aspect-ratio: 1/0.6;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.menu-item-content {
  text-align: left;
  color: #343a40;
}

.menu-item-content > h4 {
  font-weight: bold;
}

.menu-item-content > p {
  font-size: 1.4rem;
  color: #495057;
}

.menu-item-content > span {
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  margin-top: 2px;
}

/* PRODUCT DETAIL */

.product-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
