.section-menu {
  padding: 6rem 14rem;
}

.menu-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(7, 1fr);
}

.menu-category {
  display: grid;
  /* border: 4px solid hotpink; */
  position: relative;
  grid-column: span 2;
  text-decoration: none;
  overflow: hidden;
  /* aspect-ratio: 1/1; */
  border-radius: 2px;
}

.menu-category::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.menu-category:hover.menu-category::before {
  background-color: rgba(0, 0, 0, 0.35);
}

.category-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  color: #fbfada;
}

.category-content > h3 {
  text-transform: uppercase;
}

.menu-category > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.menu-category:first-child {
  grid-row: span 2;
  grid-column: span 3;
}

.menu-category:last-child {
  grid-column: span 3;
}

.menu-category img {
  width: 100%;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.menu-category:hover.menu-category img {
  transform: scale(1.05);
}

.menu-category:first-child img {
  aspect-ratio: 1/1.085;
}

.menu-category:last-child img {
  aspect-ratio: 1/0.525;
}

/* MENU ITEMS */

.section-menu-items {
  padding: 6rem 14rem;
  /* position: relative; */
}

.menu-items-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.5rem;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.menu-item {
  border: none;
  /* background-color: #fbfada; */
  cursor: pointer;
}

.menu-item img {
  aspect-ratio: 1/0.6;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.menu-item-content {
  text-align: left;
  color: #343a40;
}

.menu-item-content > h4 {
  font-weight: bold;
}

.menu-item-content > p {
  font-size: 1.4rem;
  color: #495057;

  /* Limiting number of lines and adding an ellipsis to the end*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Change this to the number of lines you want */
  -webkit-box-orient: vertical;
}

.menu-item-content > span {
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  margin-top: 2px;
}

/* PRODUCT DETAIL */

.product-detail {
  --product-vertical-padding: 2rem;
  --product-horizontal-padding: 4rem;
}

.pop-up-window {
  position: fixed;
  top: 15%;
  /* top: 2%; */
  left: 50%;
  transform: translateX(-50%) translateY(0);
  width: 70vw;
  height: 70vh;
  /* height: 95vh; */
  background-color: #f1f3f5;
  border-radius: 3px;
  color: #343a40;
  z-index: 30;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.pop-up-window .pop-up-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.2rem;
  margin-inline-end: 2rem;
  margin-block-start: var(--product-vertical-padding);
  cursor: pointer;
}

.pop-up-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--product-vertical-padding) var(--product-horizontal-padding);
  overflow: hidden;
}

.product-detail-content {
  flex-basis: 50%;
  flex-shrink: 0;
  align-self: start;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-detail-content > h4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.product-detail-content > p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.product-price {
  font-weight: 700;
}

.product-detail-btns {
  margin-top: auto;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.product-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  user-select: none;
}

.product-controls svg {
  cursor: pointer;
}

.product-add-to-cart {
  border: 0;
  background-color: #12372a;
  color: #fbfada;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  max-width: 16rem;
  width: 30%;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-add:disabled {
  cursor: auto;
  background-color: #343a40;
  opacity: 0.5;
}

.cart-add:disabled:active {
  cursor: not-allowed;
}

.product-detail-img {
  padding: 3rem;
  width: 100%;
  aspect-ratio: 1/1.5;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(73, 80, 87, 0.3);
  backdrop-filter: blur(5px);
}

/* DRINKS NAVBAR */

.drinks-navbar {
  gap: 3rem;
  /* position: sticky; */
}

.drinks-navbar button {
  border: 0;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.8rem 0;
  margin-bottom: 3.5rem;
  cursor: pointer;
  border-bottom: 2px solid rgba(73, 80, 87, 0.2);
  transition: border-bottom 0.2s ease-in-out;
  outline: 0;
  position: relative;
}

.drinks-navbar button:focus {
  border-bottom: 2px solid rgba(73, 80, 87, 0.6);
}

.drinks-navbar button.selected {
  border-bottom: 2px solid rgb(49, 54, 58);
}

.drinks-navbar button.clear-drink-category {
  border-bottom: 2px solid transparent;
}

.drinks-navbar button.clear-drink-category:focus {
  border-bottom: 2px solid rgba(73, 80, 87, 0.6);
}

/* PRODUCT OPTIONS */

.product-options {
  overflow-y: scroll;
  user-select: none;

  padding-right: 10px;
}

.product-options::-webkit-scrollbar {
  width: 8px;
}

.product-options::-webkit-scrollbar-track {
  background: transparent;
}

.product-options::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 10px;
}

.product-options-groups {
  border-radius: 3px;
  overflow-x: hidden;
}

.product-options-header {
  background-color: #d3d3d3;
  display: flex;
  padding: 1rem 1rem;
  border-bottom: 1px solid #f1f3f5;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.product-options-header svg {
  font-size: 3rem;
}

.product-option-accordion {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows calc(0.08s * var(--num-options)) ease-in-out;
  /*--num-options variable comes from in-line style on node element*/
}

.group-active .product-option-accordion {
  grid-template-rows: 1fr;
}

.product-option-accordion > ul {
  overflow: hidden;
  list-style: none;
}

.product-option-accordion > ul > li {
  border-bottom: 1px solid rgba(169, 169, 169, 0.5);
}

.product-option-accordion > ul > li:last-child {
  border-bottom: none;
}

.product-option-type {
  display: flex;
  align-items: center;
}

.product-option-type > * {
  padding: 1rem;
}

.product-option-type img {
  width: 20%;
  object-fit: cover;
  aspect-ratio: 1/0.6;
  border-radius: 1.3rem;
}

.product-options-status {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product-options-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
  line-height: 1.3;
}

.group-status {
  font-weight: 700;
  font-size: 1.2rem;
  border: 1.5px solid #545454;
  color: #545454;
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  animation: fade-in-1 0.2s ease-in-out;
}

.group-status.mandatory {
  animation: fade-in-1 0.2s ease-in-out;
  /* color: #fa5252;
  border-color: #fa5252; */
}

.group-status.done {
  animation: fade-in-2 0.3s ease-in-out;
  color: #2f9e44;
  border-color: #2f9e44;
}

.group-requirements {
  font-size: 1.4rem;
}

@keyframes fade-in-1 {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.product-option-radio,
.product-option-check {
  justify-content: space-between;
  margin-inline: 3rem;
}

.product-option-radio:has(img),
.product-option-check:has(img) {
  justify-content: start;
  margin-inline-start: 0;
  margin-inline-end: 3rem;
}

.product-option-radio:has(img) .product-option-content,
.product-option-check:has(img) .product-option-content {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* ADD OPTIONS*/

.product-option-content-add {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.product-option-add-price {
  font-weight: 700;
}

.product-option-add-ctrls .single-add {
  width: 2rem;
  height: 2rem;

  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px rgb(164, 164, 164);
  transition: 0.2s all linear;

  outline: none;
  cursor: pointer;
}

.product-option-add-ctrls:has(.single-add) {
  margin-inline-end: 5rem;
}

.product-option-add-ctrls .single-add.filled {
  box-shadow: inset 0 0 0 6px #495057;
  transform: scale(1.07);
}

.product-option-add-ctrls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
}

.product-option-add-ctrls > * {
  padding: 4px 8px;
}

.product-option-add-ctrls > div {
  cursor: pointer;
}

.product-option-add-ctrls svg {
  display: block;
  transition: all 0.2s ease-in-out;
}

.product-option-add-ctrls svg:active {
  transform: scale(1.2);
}

.option-remove,
.option-count {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.option-remove.hidden,
.option-count.hidden {
  transform: translateX(2rem);

  /* Hide it visually */
  opacity: 0;

  /* Make it unnaccessible to mouse and keyobard */
  pointer-events: none;

  /* Hide it from screen readers */
  visibility: hidden;
}

/* RADIO OPTIONS */

.product-option-radio label,
.product-option-check label {
  cursor: pointer;
}

/* not applying because of appereance:none applied to radio inputs */
/* .product-option-radio input {
  width: 1.6rem;
  height: 1.6rem;
} */

/* CHECK OPTIONS */

.product-option-check input {
  width: 1.8rem;
  height: 1.8rem;
}
