.section-menu {
  padding: 6rem 14rem;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.menu-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  --row-span-first-category: 2;
  --aspect-ratio-first-category: 1.01;
}

.menu-category {
  /* border: 4px solid hotpink; */
  background-color: var(--main-color);
  display: grid;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 2px;
}

.menu-category::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.menu-category:hover.menu-category::before {
  background-color: rgba(0, 0, 0, 0.35);
}

.category-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  color: #fbfada;
}

.category-content > h3 {
  text-transform: uppercase;
}

.menu-category > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.menu-category:first-child {
  grid-row: span var(--row-span-first-category);
  grid-column: span 2;
}

.menu-category:not(:first-child) {
  grid-column: span 2;
}

.menu-category img {
  width: 100%;
  aspect-ratio: 1/0.5;
  object-fit: cover;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.menu-category:hover.menu-category img {
  transform: scale(1.05);
}

.menu-category:first-child img {
  aspect-ratio: var(--aspect-ratio-first-category);
}

/* MENU ITEMS */

.section-menu-items {
  padding: 6rem 14rem;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.section-menu-items > h3 {
  color: var(--font-secondary-color);
  margin-bottom: 2rem;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  background-color: var(--font-alternative-color);
  transform: skew(-0.06turn, -1deg);
}

.section-menu-items > p {
  color: var(--font-secondary-color);
}

.menu-items-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.5rem;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.menu-item {
  /* max-width: 50rem; */
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

.menu-item img {
  aspect-ratio: 1/0.6;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.menu-item-content {
  text-align: left;
  color: #343a40;
}

.menu-item-content > h4 {
  font-weight: bold;
}

.menu-item-content > p {
  font-size: 1.4rem;
  color: #495057;

  /* Limiting number of lines and adding an ellipsis to the end*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Change this to the number of lines you want */
  -webkit-box-orient: vertical;
}

.menu-item-content > span {
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  margin-top: 2px;
}

/* PRODUCT DETAIL */

.product-modal {
  animation: none !important;
  height: 60vh;
}

.product-modal[open] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.product-detail-content {
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: start;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-container {
  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 0;
}

.product-detail-content > h4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.product-detail-content > p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.product-price {
  font-weight: 700;
}

.product-detail-btns {
  margin-top: auto;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.product-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  user-select: none;
}

.product-controls svg {
  cursor: pointer;
}

.product-add-to-cart {
  border: 0;
  background-color: #12372a;
  color: #fbfada;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  max-width: 16rem;
  width: 30%;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-add:disabled {
  cursor: auto;
  background-color: #343a40;
  opacity: 0.5;
}

.cart-add:disabled:active {
  cursor: not-allowed;
}

.product-detail-img {
  padding: 3rem;
  width: 100%;
  aspect-ratio: 1/1.5;
  object-fit: cover;
}

/* DRINKS NAVBAR */

.subcategory-navbar {
  gap: 3rem;
  /* position: sticky; */
}

.subcategory-navbar button {
  font-size: 1.5rem;
  background-color: var(--main-color);
  border: 0;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.8rem 0;
  margin-bottom: 3.5rem;
  cursor: pointer;
  border-bottom: 2px solid rgba(73, 80, 87, 0.2);
  transition: border-bottom 0.2s ease-in-out;
  outline: 0;
  position: relative;
}

.subcategory-navbar button:focus {
  border-bottom: 2px solid rgba(73, 80, 87, 0.6);
}

.subcategory-navbar button.selected {
  border-bottom: 2px solid rgb(49, 54, 58);
}

/* MISCELLANIOUS */
.categories-spinner-container,
.items-spinner-container,
.error-menu-container,
.categories-empty {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.categories-empty {
  color: var(--font-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}
