@media (max-width: 1722px) {
  .menu-grid.first-category-big-size {
    --aspect-ratio-first-category: 1 / 1.21;
  }

  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.6;
  }

  .menu-category img {
    aspect-ratio: 1/0.6;
  }
}

@media (max-width: 1283px) {
  .section-menu {
    padding: 8rem;
  }

  .menu-grid.first-category-big-size {
    --aspect-ratio-first-category: 1 / 1.51;
  }

  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.75;
  }

  .menu-category img {
    aspect-ratio: 1/0.75;
  }
}

@media (max-width: 1182px) {
  .menu-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .menu-grid.first-category-big-size {
    --aspect-ratio-first-category: 1 / 1.01;
  }

  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.5;
  }

  .menu-category img {
    aspect-ratio: 1/0.5;
  }

  .section-menu-items {
    padding: 6rem 8rem;
  }

  .product-modal {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .menu-grid.first-category-big-size {
    --aspect-ratio-first-category: 1 / 1.21;
  }

  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.6;
  }

  .menu-category img {
    aspect-ratio: 1/0.6;
  }

  .menu-items-grid {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }

  .product-modal {
    width: 90vw;
  }
}

@media (max-width: 815px) {
  .section-menu {
    padding: 6rem;
  }

  .menu-grid.first-category-big-size {
    --aspect-ratio-first-category: 1 / 1.51;
  }

  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.75;
  }

  .menu-category img {
    aspect-ratio: 1/0.75;
  }

  .section-menu-items {
    padding: 6rem;
  }

  .product-modal {
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    max-height: 75vh;
    padding: 6rem 4rem;
    bottom: 0;
    top: unset;
    max-width: unset;
  }

  .product-modal[open] {
    overflow: auto;
    display: block;
  }

  .product-detail-content {
    height: auto;
    margin-bottom: 1rem;
  }

  .product-detail-img-container {
    padding: 0;
    height: unset;
    width: 100%;
    margin-right: 0;
  }

  .product-detail-img {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .section-menu {
    padding: 6rem 4rem;
  }

  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-grid.first-category-big-size {
    --row-span-first-category: 1;
  }

  .menu-grid.first-category-big-size,
  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.55;
  }

  .menu-category img {
    aspect-ratio: 1/0.55;
  }

  .category-content > p {
    width: 50%;
  }

  .section-menu-items > h3 {
    font-size: 2rem;
  }
}

@media (max-width: 545px) {
  .menu-grid.first-category-small-size {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    --aspect-ratio-first-category: 1/0.7;
  }

  .menu-grid.first-category-big-size,
  .menu-grid.first-category-medium-size {
    --aspect-ratio-first-category: 1 / 0.65;
  }

  .menu-category img {
    aspect-ratio: 1/0.65;
  }

  .category-content > p {
    width: 100%;
  }

  .categories-spinner-container {
    height: calc(100vh - 0.5px - var(--footer-height));
  }

  .section-menu-items {
    padding: 6rem 4rem;
  }

  .menu-items-grid {
    row-gap: 4rem;
  }

  .product-detail-img {
    aspect-ratio: 1/0.7;
  }
}

@media (max-width: 459px) {
  .product-modal {
    padding: 4rem 2.5rem;
  }

  .product-detail-img {
    aspect-ratio: 1/1;
  }
}
