@media (max-width: 1440px) {
  .dashboard-bookings-header h3 {
    font-size: 2rem;
  }
}

@media (max-width: 1440px) {
  .dashboard-bookings-header {
    grid-template-columns: 1fr;
  }

  .date-filters-container {
    margin-left: unset;
  }
}

@media (max-width: 815px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    --dashboard-sidebar-height: 6rem;
  }

  .dashboard-sidebar {
    min-height: unset;
    height: var(--dashboard-sidebar-height);
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .dashboard-main {
    min-height: calc(
      100vh - var(--header-height) - var(--dashboard-margin) * 2 -
        var(--dashboard-sidebar-height)
    );
    margin-left: 0;
    padding: 1rem 3rem;
  }

  .dashboard-bookings-grid {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media (max-width: 660px) {
  .dashboard-sidebar span {
    font-size: 1.8rem;
  }

  .dashboard-bookings-header {
    row-gap: 2rem;
  }

  .dashboard-bookings-header_inputs {
    margin-top: 1rem;
  }

  .search-id-input-container input::placeholder {
    opacity: 1;
  }

  .booking-card h5 {
    font-size: 1.4rem;
  }

  .select-all-bookings-option {
    width: 2.5rem;
    height: 2.5rem;
  }

  .search-id-input-container input {
    padding-left: 3.2rem;
    width: 25rem;
  }

  .search-id-input-container input:focus {
    outline: auto;
    outline-offset: 4px;
  }

  .instant-popup-container:hover .instant-popup {
    display: none;
  }

  .booking-card p {
    font-size: 1.4rem;
  }

  .booking-card-select {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media (max-width: 545px) {
  .date-input-container input {
    padding: 0.2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 459px) {
  .dashboard-sidebar a {
    flex: 1;
    justify-content: center !important;
  }

  .dashboard-main {
    padding: 1rem 0;
  }

  .dashboard-bookings-grid {
    grid-template-columns: 1fr;
  }

  .date-filters-container {
    flex-wrap: wrap;
  }

  .booking-card {
    padding: 2rem 1rem;
  }
}
