@media (max-width: 1440px) {
  .dashboard-bookings-header {
    grid-template-columns: 1fr;
  }

  .dashboard-bookings-header h3 {
    font-size: 2rem;
  }

  .booking-card h5 {
    font-size: 1.4rem;
  }

  .date-filters-container {
    margin-left: unset;
  }

  #booking-modal {
    width: 35vw;
  }
}

@media (max-width: 1182px) {
  #booking-modal {
    width: 45vw;
  }
}

@media (max-width: 1000px) {
  #booking-modal {
    width: 65vw;
  }
}

@media (max-width: 815px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    --dashboard-sidebar-height: 6rem;
  }

  .dashboard-sidebar {
    min-height: unset;
    height: var(--dashboard-sidebar-height);
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .dashboard-sidebar > a svg,
  .dashboard-sidebar > a span {
    font-size: 1.8rem;
  }

  .dashboard-main {
    min-height: calc(
      100vh - var(--header-height) - var(--dashboard-margin) * 2 -
        var(--dashboard-sidebar-height)
    );
    margin-left: 0;
    padding: 1rem 3rem;
  }

  /* .dashboard-bookings-grid {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  } */
}

@media (max-width: 660px) {
  .dashboard-sidebar span {
    font-size: 1.8rem;
  }

  .dashboard-bookings-header {
    row-gap: 2rem;
  }

  .dashboard-bookings-header_inputs.three-columns {
    grid-template-columns: repeat(2, max-content);
    row-gap: 2rem;
  }

  .dashboard-bookings-header_inputs.three-columns .date-input-container {
    border-right: none;
  }

  .search-id-input-container input::placeholder {
    opacity: 1;
  }

  .select-all-bookings-option {
    width: 2.5rem;
    height: 2.5rem;
  }

  .search-id-input-container input {
    padding-left: 3.2rem;
    width: 25rem;
  }

  .search-id-input-container input:focus {
    outline: auto;
    outline-offset: 4px;
  }

  .instant-popup-container:hover .instant-popup {
    display: none;
  }

  .booking-card h5 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .booking-card-select {
    width: 2.2rem;
    height: 2.2rem;
  }

  #booking-modal {
    width: 80vw;
  }

  #booking-modal h5,
  #booking-modal span,
  #booking-modal p,
  #booking-modal .delete-booking-btn,
  .modal-delete-bookings-btns button,
  #modal-delete-bookings p,
  #modal-delete-bookings button:not(.modal-close) {
    font-size: 1.8rem;
  }
}

@media (max-width: 545px) {
  .card-date-filter {
    padding: 0.5rem 0.8rem;
  }

  .date-input-container input {
    padding: 0.2rem;
    font-size: 1.4rem;
  }

  #booking-modal,
  #modal-delete-bookings {
    width: 100vw;
    max-width: unset;
    top: unset;
    bottom: 0;
    height: fit-content;
    max-height: 70vh;
  }
}

@media (max-width: 459px) {
  .dashboard-sidebar a {
    flex: 1;
    justify-content: center !important;
  }

  .date-filters-container {
    flex-wrap: wrap;
  }

  .dashboard-bookings-header_inputs.three-columns {
    grid-template-columns: max-content max-content;
    row-gap: 1.5rem;
    padding-inline: 0;

    width: max-content;
    padding-top: 2rem;
    border-top: 2px solid #bbb;
  }

  .dashboard-bookings-header_inputs.three-columns > *:first-child {
    grid-column: 1/-1;
    border-right: none;
  }

  .dashboard-bookings-header_inputs.three-columns > *:nth-child(2) {
    border-right: 2px solid #bbb;
  }

  .dashboard-bookings-header_inputs.three-columns > *:last-child {
    min-width: 12.8rem;
  }

  .booking-cards-select-options::before {
    content: 'Sel.';
  }

  .dashboard-main {
    padding: 1rem 0;
  }

  .dashboard-bookings-grid {
    grid-template-columns: 1fr;
  }

  .booking-card {
    padding: 2rem 1rem;
  }

  .booking-card-select {
    bottom: 50%;
    transform: translateY(50%);
  }
}

@media (max-width: 385px) {
  .dashboard-bookings-header_inputs {
    width: max-content;
    padding-top: 2rem;
    border-top: 2px solid #bbb;
    grid-template-columns: max-content;
    row-gap: 1.5rem;
  }

  .dashboard-bookings-header_inputs > *:first-child {
    border-right: none;
  }

  .booking-cards-select-options::before {
    content: 'Seleccionar';
  }

  .dashboard-bookings-header_inputs.three-columns
    .booking-cards-select-options::before {
    content: 'Sel.';
  }
}
