/* Queries */

@media (max-width: 1440px) {
  html {
    font-size: 60%;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  header {
    padding: 0 10rem;
  }

  .section-hero > h1 {
    font-size: 8rem;
  }

  .featured-container {
    width: 90%;
  }

  .featured-content > div {
    width: 75%;
    margin: 0;
  }

  .featured-images {
    flex: 0.7;
  }

  .services-container {
    width: 90%;
    padding: 0 6rem;
  }

  .services-card span:has(svg) {
    height: 4.5rem;
    width: 4.5rem;
  }

  .services-card svg {
    width: 2.2rem;
    height: 2.2rem;
  }

  .services-card__content {
    gap: 1rem;
  }

  header > div:first-child {
    position: absolute;
    bottom: 20px;
    left: 40px;
  }

  header > div:has(a.reservation-link) {
    position: absolute;
    bottom: 20px;
    right: 40px;
  }

  .header-wrapper header > div:first-child,
  .header-wrapper header > div:has(a.reservation-link) {
    display: none;
  }

  .header-wrapper.hero-wrapper header > div:first-child,
  .header-wrapper.hero-wrapper header > div:has(a.reservation-link) {
    display: block !important;
  }

  .signatures-container {
    padding: 0 8rem;
  }

  .signatures-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .signature-card img {
    aspect-ratio: 1.5/1;
  }

  .faq-container {
    width: 80%;
  }

  .faq-content > div {
    width: 75%;
  }

  .faq-content__groups {
    margin-top: 3rem;
  }

  .faq-group__header h4 {
    font-size: 1.2rem;
  }

  .faq-images {
    flex: 0.6;
  }

  .news-container {
    width: 90%;
    padding: 0 6rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 58%;
  }

  header {
    padding: 0 4rem;
  }

  header > nav {
    gap: 4rem;
  }

  .nav-signature {
    font-size: 3.5rem;
  }

  .section-hero > h1 {
    font-size: 7rem;
  }

  .section-hero > p {
    font-size: 1.6rem;
  }

  .section-featured {
    padding-inline: 6rem;
  }

  .services-container {
    width: 95%;
    padding: 0 4rem;
  }

  .services-grid {
    gap: 1.5rem;
  }

  .services-card__content {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: start;
  }

  .services-card__content > div:first-child {
    margin-top: auto;
  }

  .services-card__content > div:last-child {
    margin-bottom: 1rem;
  }

  .signatures-container {
    padding: 0 4rem;
  }

  .signature-card__content > span {
    font-size: 2.2rem;
  }

  .signature-card__content > p:last-child {
    font-size: 1.2rem;
  }

  .signature-card img {
    aspect-ratio: 1 / 1;
  }

  .faq-container {
    width: 90%;
  }
}

@media (max-width: 815px) {
  .mobile-header {
    display: block;
    flex: unset;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mobile-header > p {
    color: var(--main-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--main-color);
  }

  .open-mobile-nav-btn {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }

  .open-mobile-nav-btn svg {
    width: 100%;
    height: 100%;
  }

  header nav {
    display: none;
  }

  header.mobile-nav-open nav {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
    left: 0;
    top: 0;
  }

  .mobile-nav-open .mobile-nav-overlay {
    display: block;
  }

  .mobile-nav-open .close-mobile-nav-btn {
    display: block;
  }
}
